/**
 * .theme--dark => Dark Mode
 * .theme--light => Light Mode
 **/

$themes: (
  dark: (
    backgroundDesktop: url('../assets/images/lattice.png'),
    navLinkBackground: $gray-500,
    navLinkColor: $gray-100,
    navLinkBorder: $gray-100,
    primaryButtonBackground: rgba($white, 0.1),
    primaryButtonColor: $gray-100,
    primaryButtonBorder: $gray-100,
    pollingColor: $green,
    mainPanelBackground: rgba($white, 0.1),
    mainPanelBorder: $gray-100
  ),
  light: (
    backgroundDesktop: url('../assets/images/lattice.png'),
    navLinkBackground: $gray-500,
    navLinkColor: $gray-100,
    navLinkBorder: $gray-100,
    primaryButtonBackground: rgba($white, 0.1),
    primaryButtonColor: $gray-100,
    primaryButtonBorder: $gray-100,
    pollingColor: $green,
    mainPanelBackground: rgba($white, 0.1),
    mainPanelBorder: $gray-100
  )
);

@mixin themed() {
  @each $theme, $map in $themes {
    :global(.theme--#{$theme}) & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
