/**
 * .theme--dark => Dark Mode
 * .theme--light => Light Mode
 **/

$themes: (
  dark: (
    backgroundColor: $color-black,
    textColor: $color-white,
    labelColor: $color-white,
    textColor1: $color-white,
    textColor2: $color-gray-300,
    textColor3: $color-gray-600
  ),
  light: (
    backgroundColor: $color-white,
    textColor: $color-black,
    labelColor: $color-white,
    textColor1: $color-white,
    textColor2: $color-gray-200,
    textColor3: $color-gray-100
  )
);

@mixin themed() {
  @each $theme, $map in $themes {
    :global(.theme--#{$theme}) & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
