.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  overflow-x: hidden;
  background: $black;

  @include themed {
    background: t('backgroundDesktop') no-repeat top;
    background-size: cover;
  }

  .header {
    width: 100%;
    justify-content: space-between;
    @include flexNoWrap($isRow: true);
  }

  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 160px;
    align-items: center;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    @include smallMedia {
      padding: 16px;
      padding-top: 2rem;
    }
  }
}

.welcome {
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, 60px);
  @include mediumMedia {
    display: none;
  }
}

.lattice {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  padding: 36px;
  color: $gray-100;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 36px;
  z-index: 2;

  @include mediumMedia {
    display: none;
  }
}

.bodyWrapper {
  position: relative;
  max-width: 400px;
  width: 100%;
  border: 1px solid;
  border-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;

  @include themed {
    background: t('mainPanelBackground');
    border-color: t('mainPanelBorder');
  }
}
