.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 36px 36px 0px 36px;
}

.navLink {
  height: 36px;
  width: 96px;
  border: 1px solid;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  text-decoration: none;

  @include themed {
    background: t('navLinkBackground');
    color: t('navLinkColor');
    border-color: t('navLinkBorder');
  }
}

.polling {
  position: fixed;
  display: flex;
  right: 0;
  bottom: 0;
  padding: 36px;
  font-size: 10px;
  line-height: 15px;

  &:hover {
    opacity: 1;
  }

  @include themed {
    color: t('pollingColor');
  }

  @include mediumMedia {
    display: none;
  }

  & .dot {
    width: 8px;
    height: 8px;
    min-height: 8px;
    min-width: 8px;
    margin-left: 0.5rem;
    margin-top: 3px;
    border-radius: 50%;
    position: relative;
    @include themed {
      background-color: t('pollingColor');
    }
  }
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: rotate360 1s cubic-bezier(0.83, 0, 0.17, 1) infinite;
  transform: translateZ(0);
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-left: 2px solid;
  background: transparent;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: relative;
  left: -3px;
  top: -3px;
  display: block;

  @include themed {
    border-left-color: t('pollingColor');
  }
}
